body
{
    background: cornflowerblue;
}
#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
#player1_name_input
{
width: 500px;
}
#player2_name_input
{
width: 500px;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}